/*          baniere tarafe      */
.baniere_tarafe{
    width: 100%;
}

/*            div_nouveaute             */
.div_nouveaute{
    height: 8vh;
}
.p1{
    font-size: 4vh;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    color:red;

}
.underline{
    margin: auto;
    width: 15vh;
    border: 1px solid black;
}

/*              Produit Nouveaute       */
.brd{
    background-color: rgba(230, 230, 230, 0.4);
}
.div_nouveaute_produit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
}
.nouveaute01{
    margin: 5vh 0vh;
    margin-left: 6%;
    width: 27%;
    border-radius: 10px;
    background-color: white;
}
.class_link{
    color: black;
    width: 100%;
}
.img_nouveaute{
    width: 98%;
    margin: 0px auto;
}
.info_prod{
    min-height: 25vh;
}
.nom_prod{
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    margin: 2vh 0vh;
}
.marque_prod{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 2vh 0vh;
}
.prix_prod{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin: 2vh 0vh;
}

/*              le blog             */
.div_blog{
    padding: 3vh 5vh;
    display: inline-flex;
    width: 100%;
    min-height: 180px;
}
.le_blog{
    color: white;
    font-size: 5vw;
    font-weight: 700;
}
.capture{
    width: 100%;
    opacity: 0.7;
}
.le_blog2{
    position: absolute;
    width: 100%;
}
.textile{
    color: white;
    font-size: 3vw;
    font-weight: 700;
}
.link_blog{
    display: inline-block;
    justify-content: center;
    background-color:white ;
    border-radius: 20px;
}
.link_blog a{
    color: black;
    font-size: 2vw;

}

/*              Nos Boutiques           */
.div_boutiques{
    width: 90%;
    margin: 4vh auto;
    border-radius: 20px;
    background-color: rgba(230, 230, 230, 0.4);

}
.div_boutique01{
    margin: auto;
}
.boutique_logo{
    width: 90%;
}
.nom_boutique{
    text-align: center;
    font-size: 4vh;
    font-weight: 700;
}
.description_boutique{
    font-size: 3vh;
    font-weight: 400;
}
.link_boutique{
    display: flex;
    justify-content: center;
    background-color:white ;
    border-radius: 20px;
    width: 15vh;
    right: 0px;
    position: relative;
}
.link_boutique a{
    color: black;
    font-size: 4vh;
    margin: 2px;

}

@media screen and (max-width: 730px){

    .nouveaute01{
        margin: 5vh 0vh;
        margin-left: 5%;
        width: 40%;
        border-radius: 10px;
        background-color: white;
    }
    .nom_prod{
        font-size: 18px;
    }
    .marque_prod{
        font-size: 10px;
    }
    .prix_prod{
        font-size: 15px;
    }
    .hide{
        display: none;
    }
}