/*         nos boutiques         */
.div_boutique{
    margin: 2vh 0vh;
    height: 8vh;
}
.p1{
    vertical-align: middle;
    font-size: 4vh;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    margin: auto;
    color:red;

}
.underline{
    margin: auto;
    width: 15vh;
    border: 1px solid black;
}


/*                  liste des boutiques         */

.div_boutique02{
    background-color: rgba(230, 230, 230, 0.4);
    margin: auto;
    padding: 10vh 5vh;
}
.h-1{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}
.h-3{
    border-radius: 20px;
    margin: 3vh 2vh;
    background-color: white;
    z-index: 5;
}
.div_logo{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
.logo_boutique{
    width: 90%;
}
.titre{
    margin: 2vh 0vh;
    font-size:3vh;
    font-weight:bold;
    text-align: center;
}

@media screen and (max-width: 570px){
    .logo_boutique{
        width: 50%;
    }
    .h-3{
        margin: 3vh 5vh;
    }
}